# Local development
NEXT_PUBLIC_USER_SERVICE_URL=http://localhost:8000
NEXT_PUBLIC_CHAT_SERVICE_URL=http://localhost:8001

# Production (Nginx route theo path prefix)
# NEXT_PUBLIC_USER_SERVICE_URL=/api/user
# NEXT_PUBLIC_CHAT_SERVICE_URL=/api/chat
