NUXT_PUBLIC_API_GATEWAY_URL=http://localhost
VITE_API_GATEWAY_URL=http://localhost

NUXT_PUBLIC_USER_SERVICE_PATH=/api/user
VITE_USER_SERVICE_PATH=/api/user

NUXT_PUBLIC_DOCUMENT_SERVICE_PATH=/api/documents
VITE_DOCUMENT_SERVICE_PATH=/api/documents

NUXT_PUBLIC_QUERY_SERVICE_PATH=/api/query
VITE_QUERY_SERVICE_PATH=/api/query

NUXT_PUBLIC_HR_SERVICE_PATH=/api/hr
VITE_HR_SERVICE_PATH=/api/hr

NUXT_PUBLIC_MCP_SERVICE_PATH=/api/mcp
VITE_MCP_SERVICE_PATH=/api/mcp

# Tùy chọn cho Môi trường Local
# NUXT_PUBLIC_GATEWAY_BASIC_AUTH=Basic cWRyYW50dGVhbToxMjM=
# VITE_GATEWAY_BASIC_AUTH=Basic cWRyYW50dGVhbToxMjM=

