fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg[binary]>=3.1
alembic>=1.13
python-dotenv
python-jose
python-multipart
pydantic
google-cloud-storage
boto3
nats-py
pytest
pytest-asyncio
httpx2
newrelic

